@charset "EUC-KR";


.modal{ 
	position:fixed;
	width:100%; 
	height:100%; 
	background: rgba(0,0,0,0.8); 
	top:0; 
	left:0; 
	display:none;

}

#windowClose{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

.modalContent{
  width:900px; height:800px;
  background:rgba(244,238,238,1); border-radius:10px;
  position:absolute; top:50%; left:50%;
  margin-top:-400px; margin-left:-450px;
  box-sizing:border-box; padding:74px 0;
  line-height:23px; cursor:pointer;
}

.modalHeader{
	width: 880px; height: 100px;
}
.postDate{
	
}

.postID{
	
}

.postProfileImage{

}

.postImage{
	
}

.contentsImage{
	width: 500px;
	height: 500px;
	padding-left: 10px;
	display: block;
	float: left;
}

.modalAside{
	width: 370px;
	height: 500px;
	display: inline-block;
	margin-left: 10px;
	background-color:pink;
}

.commentsTitle{
	text-align:center;
	margin-top: 10px;
}

.commentImage{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	float: left;
	margin: 10px;
}


.commentsList{
	padding: 5px, 5px, 5px, 5px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width:360px;
	height:420px;
	overflow: scroll;
	overflow-x:hidden;
}

.postComment{
}

.oneComment{
	padding: 10px;
}
#myComment{
	margin-left: auto;
	margin-right: auto;
	width: 270px;
	height: 30px;
}

#commentBtn{
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	height: 30px;	
}

.postContents{
	
}

.postHashtag{
	
}
