@charset "EUC-KR";
/* 
.navbar{
	background-color:black;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	padding: 6px 4px;
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index:9999;
} */

.navbarLinks{
	display:flex;
}
.logo{
	align-items: center;
	padding: 4px 6px;
}
#logoimage{
	object-fit:cover;
	width:180px;
	height:60px;	
	
}
#logoimage:hover{
	object-fit:cover;
	transform:scale(1.2);
	transition:0.2s;
		
}

.navbarLinks{
	padding-right:10px; 
}
.searchIcon{
	fill:white;
	width: 60px;
	height: 60px;
	margin: 20px;
	padding: 7px 7px;
	border-radius: 15px;
}
.searchIcon:hover{
	background-color:gray;
}
.loginIcon{
	fill:white;
	width: 60px;
	height: 60px;
	margin: 20px 0 0 0;
	padding: 7px 7px;
	border-radius: 5px;
}
.loginIcon:hover{
	background-color:gray;
}
.langueIcon{
	fill:white;
	width: 60px;
	height: 60px;
	margin: 20px;
	padding: 7px 7px;
	border-radius: 5px;
}
.langueIcon:hover{
	background-color:gray;
}

